xbrl/schema/basic_xbrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/xbrl"
           xmlns="http://example.com/xbrl"
           elementFormDefault="qualified">

  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entity" type="xs:string"/>
        <xs:element name="Period" type="xs:string"/>
        <xs:element name="KPI" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:string"/>
              <xs:element name="Value" type="xs:string"/>
              <xs:element name="Unit" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
